*{
	box-sizing:border-box;
	font-family: 'Bangers', cursive;
}

header{
	background:url(../img/khKVdW.jpeg)no-repeat;
	background-size:cover; 
}
li{
	display:inline-block;
	margin-left:4%;
	margin-top:4%;
}
.menu{
	text-decoration:none;
	color:white;
	font-size:30px;
}
li:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

.boton{
   background-color:white;
   border-radius:5px;
   padding: 10px 20px;
   text-align: center;
   display: inline-block;
   font-size: 20px;
   margin-left:19%;
   margin-top:6%;
}
.sumate{
	text-decoration: none;
	color:black;
}
.boton:hover{
	-webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

.titulo h1{
	color:white;
	margin-top:39%;
	font-size:80px;
}
.titulo p{
	color:white;
	font-size:30px;
	margin-left:13%;
	margin-bottom:40%;
}	
.fondo{
	background:#484848;
	padding:4%;
}
.blanco{
	background-color:white;
	padding:1%; 
	margin:5%;
	border:10px groove;
}
.logo{
	width:300px;
	height:300px;
	padding:2%;
	margin-left:12%;
	border:3px groove;
}
.ver{
   background-color:#242424;
   padding: 10px 20px;
   display:inline-block;
   font-size: 18px;
   text-decoration:none;
   color:white;
}
h3{
	font-family: 'Permanent Marker', cursive;
	font-size:28px;
	text-align:center; 
}
.texto{
	font-family: 'Permanent Marker', cursive;
}

button{
	margin-left:35%;
}
.back{
	background:#555555;
	padding:1%;
	color:white;
}
.final{
	font-family: 'Cinzel', serif;
	font-size:14px;
}
